@mixin styleText($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin styleTextHover($color) {
    color: $color;
    
}

@mixin styleButton($bg, $pd-y, $pd-x, $bd, $radius, $ls) {
    background: $bg;
    padding: $pd-y $pd-x;
    border: $bd;
    border-radius: $radius;
    letter-spacing: $ls;
}

@mixin styleButtonHover($bg, $bd-color, $color) {
    background: $bg;
    border-color: $bd-color;
    color: $color;
}

@mixin styleIcon ($fs, $color){
    color: $color;
    font-size: $fs;
}

@mixin styleIconHover($fs) {
    color: $fs;
}

@mixin responsive($screen) {

    // Kiểm tra xem giá trị của biến $screen có tồn tại trong danh sách $breakpoints hay không 
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
    
      $value: map-get($map: $breakpoints,
        $key: $screen,
      );
  
      @media screen and (max-width: $value) {
        @content;
      }
    }
  
    @else {
      @warn "màn hình chưa khai báo";
    }
  }